{% extends "blog/base.html" %}

{% block content %}
<ul class="list-group">
    <label class="font-weight-bold" for="fullName">Name</label>
    <li class="list-group-item mb-3">{{applicant_detail.name}}</li>
    <label class="font-weight-bold" for="fullName">Email</label>
    <li class="list-group-item mb-3">{{applicant_detail.email}}</li>
    <label class="font-weight-bold" for="fullName">Phone</label>
    <li class="list-group-item mb-3">{{applicant_detail.phone}}</li>
    <label class="font-weight-bold" for="fullName">Work Experience</label>
    <textarea disabled class="form-control mb-3" aria-label="With textarea">{{applicant_detail.work_experience}}</textarea>
    <label class="font-weight-bold" for="fullName">Download Resume</label>
    <a href="{{applicant_detail.resume.url}}" download>{{applicant_detail.resume}}</a>
  </ul>
  <div >
    <a class="btn btn btn-success float-right my-3" href="{% url 'applicant-approve' applicant_detail.post.id applicant_detail.sno %}">Approve</a>
    <a class="btn btn btn-danger float-right my-3" href="{% url 'applicant-delete2' applicant_detail.post.id applicant_detail.sno %}">Reject</a>
    <!-- <button type="button" class="btn btn-success float-right my-3">Accept</button> -->
  </div>

{% endblock content %}