{% extends "blog/base.html" %}
{% block content %}

{%  include 'blog/status.html' %}

<br>

<div class="row">
	<div class="col-md-12">
		<h5>APPLICANTS:</h5>
		<hr>
		<div class="card card-body">
			<!-- <a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a> -->
			<table class="table table-sm">
				<tr>
                    <th>Applicant Name</th>
                    <th>Status</th>
                    <th>Details</th>
                    <th>Remove</th>
				</tr>
				{% for applicant in job_applicant %}
				<tr>
                    <td>{{applicant.name}}</td>
                    <td>{{applicant.status}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'applicant-detail' applicant.post.id applicant.sno %}">View</a></td>
                    <!-- <td><a class="btn btn-sm btn-info" href="#">View</a></td> -->
                    <td><a class="btn btn-sm btn-danger" href="{% url 'applicant-delete' applicant.post.id applicant.sno %}">Delete</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>


</div>

{% endblock %}