{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="row gutters-sm">
        <div class="col-md-12 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="{{ user.profile.image.url }}" alt="Admin" class="rounded-circle"
                  width="180" height="180">
                <div class="mt-0">
                <hr/>
                  <h4>{{ user.profile.full_name }}</h4>
                  <p class="text-secondary mb-0">{{ user.profile.bio }}</p>
                  <p class="text-muted font-size-sm">{{ user.profile.address }}</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-body">
              {{ u_form|crispy }}
              {{ p_form|crispy }}
              <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
            </div>
          </div>
        </div>
      </div>
  </form>
      </div>

  {% endblock content %}